@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Spirax&display=swap');

.home {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}

.home>div {
    padding: 10px;
    margin: auto;
}

.randomPlayer {
    margin: 50px auto;
    padding: 10px;
    background: #cfcfcf21;
    border-radius: 13px;
    box-shadow: 5px 7px 9px 0px black;
    max-width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.randomPlayer div:first-child {
    font-family: 'Spirax', cursive;
    font-size: 50px;
    margin: 15px 0px;
    overflow-wrap: anywhere;
}

.randomPlayer div {
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.randomPlayer div span {
    color: red;
    position: relative;
    font-size: 30px;
}

.randomPlayer div span {
    top: -20px;
}